@page "/blogs/{Slug}"
@inject DiscoveredRoutes DiscoveredRoutes
@inject BlogManager BlogManager

@if (post is null)
{
    <h1>Blog not found</h1>
}
else
{
    <h1>
        @post.Info.Title
        
        @if (post.Info.Draft)
        {
            <span style="color: gray;"> (draft)</span>
        }
    </h1>
    <p style="display: flex; gap: 0.5rem;">
        @foreach (var blogTag in post.Tags)
        {
            <a href="/blogs/tags/@blogTag.Id">@blogTag.Name</a>
        }
    </p>
    <p>@string.Join(", ", post.Authors.Select(x => x.Name))</p>
    <p>@post.Info.Published</p>

    @((MarkupString)post.HtmlContent)
}

@code {
    [Parameter]
    public required string Slug { get; set; }

    private BlogPost? post;
    
    protected override void OnInitialized()
    {
        post = BlogManager.TryGetBlogPost(Slug);
        if (post is not null)
            DiscoveredRoutes.UpdateRouteInfo($"/blogs/{Slug}", new RouteInfo() { LastModified = post.Info.LastModified });
    }
}